<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AugmentedCard.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>EAA8C33D1966CB38AAC8E30F652669201F75A485</string>
				<key>dateExpires</key>
				<string>09.07.21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>XB92Y69H5F.com.viget.AugmentedCard</string>
				<key>com.apple.developer.team-identifier</key>
				<string>XB92Y69H5F</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>XB92Y69H5F.com.viget.AugmentedCard</string>
				</array>
			</dict>
			<key>name</key>
			<string>AugmentedCard.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b53b553f-b351-4294-b711-413c437f84a0</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>XB92Y69H5F</string>
				<key>name</key>
				<string>Yannick Schiele</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
